{% extends 'base.html.twig' %}

{% block title %}Demande de réinitialisation du mot de passe
{% endblock %}

{% block body %}
	<h1>Demande de réinitialisation du mot de passe</h1>

	{% if success %}
		<div class="alert alert-success">Un lien de réinitialisation de mot de passe a été envoyé à votre adresse e-mail.</div>
	{% else %}


		<form method="post">
			<label for="username">Nom d'utilisateur:</label>
			<input type="text" id="username" name="username" required autofocus>
			<button type="submit">Envoyer l'e-mail de réinitialisation de mot de passe</button>
		</form>


		{% for err in error %}
			<div class="alert alert-danger">{{ err }}</div>
		{% endfor %}

	{% endif %}
{% endblock %}
