{% extends 'base.html.twig' %}

{% block title %}Réinitialisation du mot de passe{% endblock %}

{% block body %}
    <h1>Réinitialisation du mot de passe</h1>
    <form method="post">
        <label for="inputPassword">Nouveau mot de passe</label>
        <input type="password" name="password" id="inputPassword" class="form-control" required>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('reset_password') }}">
        <button type="submit" class="btn btn-primary">Changer le mot de passe</button>
    </form>
{% endblock %}
