<h1>Hello! Confirme ton adresse e-mail!</h1>

<p>
    Confirme ton adresse électronique en cliquant sur le lien suivant: <br><br>
    <a href="{{ url('app_activate_account', {token: activationToken}) }}">Confirmer mon e-mail.</a>.
</p>

<p>
    Cheers!
</p>
