.mobile-footer {
    position: fixed;
    bottom: 0; 
    width: 100%; 
    display: none;  /* Footer is hidden by default */
    justify-content: space-around;
    align-items: center; 
    height: 60px;
    background-color: aquamarine;
}

@media screen and (max-width: 600px) {
    .mobile-footer {
        display: flex;  /* Footer is visible on screens less than or equal to 600px wide */
    }
}
