nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

/* Pour rendre le header responsive */
@media (max-width: 768px) {
  nav {
    padding: 10px;
  }
  
  .navbar-brand {
    font-size: 1.5rem;
  }
  
  .navbar-nav {
    flex-direction: column;
  }
  
  .nav-item {
    margin-bottom: 5px;
  }
}

