<form method="post" action="{{ path('app_trick_image_delete', {'id':image.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet élément?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete-trick-image') }}">
    <button class="btn">Supprimer</button>
</form>
