{% extends 'base.html.twig' %}

{% block title %}Editer Figure{% endblock %}

{% block body %}

    {{ include('trick/_form.html.twig') }}

    <a href="{{ path('app_trick_index') }}">back to list</a>

{% endblock %}
